---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

	<object data="../assets/pdf/cv_djambov.pdf#pagemode=none" width=$max-content-width height="1000" type='application/pdf'></object>

        </div>
