---
layout: default
---

<div class="post">
<h1 class="post-title"><a href="../assets/pdf/cv_djambov.pdf">curriculum vitæ</a></h1>
</div>

<object
      data="../assets/pdf/cv_djambov.pdf"
      type="application/pdf"
      width="100%"
      height="1414%"
</object>
